/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/10/2019, 11:35:19 PM
    Author     : emlar
*/

.logo{
    width: 60px;
    margin-right: 20px;
}

.logo img{
    width: 130%;
    padding-bottom: 10px;
    
}

.calendar{ 
	width: 100%;
    position: relative;
    padding-bottom: 30px;
}

.datos{
    position: relative;
    height: 100%;
	width: 100%; 
}

nav div ul li a {
    color: black;
    font-size: large;
    font-weight: bold;
}

.add_padding_row{
    padding-top: 10px;
    padding-bottom: 20px;
}

.add_padding_row_int{
    padding-bottom: 10px;
}

.padre_botons{
    width: 100%;
    height: 100%;
    position: relative;
}

.hijo_botons{
    position: relative;
    width: 44%;
    height:100%;
    margin: 10px 2.5%;
    display: inline-block;
}

.button_recon {
    position: relative;
    z-index: 1;
    height: 100px;
    width: 90%; 
    margin: 1% 5%;
    background-color: #918C8C;
    border: none;
    border-radius: 8px;
}

.button_rebkg {
    position: relative;
    z-index: 1;
    height: 100px; 
    width: 90%;
    margin: 1% 5%;
    background-color: #D6CCCC;
    border: none;
    border-radius: 8px;
}

.button_red {
    position: absolute;
    z-index: 2;
    width: 70px;
    height: 70px;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    border: none;
    border-radius: 50%;
    background-color: red;
}

.button_grey{
    position: absolute;
    z-index: 2;
    width: 70px;
    height: 70px;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    border: none;
    border-radius: 50%;
    background-color: green;
}

.No_dispositivos{
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.div_disable{
    pointer-events: none;
    opacity: 0.5;
    background: #ccc;
}
  


